.sponsors_container {
  padding-block: 6rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color:var(--text);
  clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 50px));
}

.sponsor_card{
  width:50%;
  margin-inline:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom:2rem;
}
.sponsor_card > img{
  animation: fade-in linear;
  animation-timeline: view();
}
.sponsor_card h3{
  font-size:2rem;
 
}

.sponsor_img{
  width:450px;
  height: 200px;
  border-radius: 15px;
}

.titleSponsor {
    cursor:auto;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5;
    text-decoration: underline;
    color: #ccc;
}


@media (max-width: 800px) {
  .other_sponsors {
    flex-direction: column;
  }
  .sponsors , .community_sponsors, .promotional_partners{
    height: 70%;
    width: 90%;
    margin: 1.5rem 0.5rem;
  }
  .sponsors_container {
    flex-wrap: wrap;
    height: auto;
  }
  .community_sponsors, .promotional_partners {
    flex-direction: column;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .community-row {
    margin: 0 10px;
    padding: 0 10px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    scale:(0.5,0.5);
  }
  to {
    opacity: 1;
    scale:(1,1);
  }
}

@media(max-width:912px){
  .sponsor_img{
    width:350px;
    height: 200px;
  }
}