.herocontainer{

    position: relative;
    /* overflow:hidden; */
    /* clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),50% 100%,0 calc(100% - 50px)); */
}

.hero_heading{
  color: #b216b8;
  font-size: 4rem;
  text-align: center;
  font-family: sans-serif;
}
.overlay {
    position:absolute;
    inset:0;
    background-color:rgba(0,0,0,0.5);
    z-index: 1;
}

.codher_svg{
  width:960px;
  display: block;
  margin-inline:auto;
  height: fit-content;
  /* margin-top:10rem; */
}
.content{
    position:absolute;
    transform:translate(-50%,-50%);
    top:40%;
    left:50%;
    width:60%;
    margin-inline:auto;
    color:white;
    font-size: 1.3rem;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
    display: block;
    font: 10rem 'Montserrat';
    margin: 1rem auto;
}

.text_copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text_copy:nth-child(1){
	stroke: #b216b8;
	animation-delay: -1;
}

.text_copy:nth-child(2){
	stroke: #b216b8;
	animation-delay: -2s;
}

.text_copy:nth-child(3){
	stroke: #b216b8;
	animation-delay: -3s;
}

.text_copy:nth-child(4){
	stroke: #b216b8;
	animation-delay: -4s;
}

.text_copy:nth-child(5){
	stroke: #b216b8;
	animation-delay: -5s;
}

.glitch_btn,
.glitch_btn:after {
  font-size: 1.2rem;
  padding:1rem;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #b216b8 5%);
  border: 0;
  color: #fff;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.glitch_btn:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #b216b8 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}
.glitch_btn:hover  {
  cursor: pointer;
}
.glitch_btn:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
  cursor: pointer;
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
